<div class="table-container col-12 col-lg-12 col-md-12 col-sm-12">

  <table class="table table-filter ">
    <tbody>
    <% if @receivers %>
        <% @receivers.each do |receiver| %>
            <tr data-status="pagado" class="<%= receiver.read_at ? 'selected' : '' %>" data-href="<%= message_path(id: receiver.message.id) %>">
              <td>
                <div class="media">
                  <a href="#" class="pull-left">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                  </a>
                  <div class="media-body">
                    <span class="media-meta pull-right"></span>
                    <h4 class="title">
                      <%= receiver.message.sender.email%>
                    </h4>
                    <% if receiver.read_at %>
                        <%= simple_format(truncate(receiver.message.content,length: 50, separator: ' ',omission: '...'),class: "sumary")%>
                    <%else%>
                        <strong><%= simple_format(truncate(receiver.message.content,length: 50, separator: ' ',omission: '...'),class:"sumary")%></strong>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>
<script>
    $(document).ready(function () {

        $('tr').on('click',function () {
            var href = $(this).attr("data-href");
            console.log(href);
            window.location.href=href;

        });
    });

</script>



