<!DOCTYPE html>
<html>
  <head>
    <title>MyMes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="wrapper">

    <!-- Main -->
    <div id="main">
      <div class="inner">

        <!-- Header -->
        <header id="header">
          <a href="javascript:;" class="logo"><strong><%= @title %></strong> </a>
          <ul class="icons">
            <li><a href="<%= new_message_path %>" class="icon fa-pencil-square-o" data-toggle="tooltip" data-placement="bottom" title="Compose"><span class="label">Compose</span></a></li>
            <li><a href="<%= messages_sent_path %>" class="icon fa-envelope-open-o" data-toggle="tooltip" data-placement="bottom" title="Sent Message"><span class="label">Sent Message</span></a></li>
            <li><a href="<%= friendships_friends_path %>" class="icon fa-users" data-toggle="tooltip" data-placement="bottom" title="Friends"><span class="label">Your Friends</span></a></li>
            <li><a href="<%= friendships_path %>" class="icon fa-user-plus" data-toggle="tooltip" data-placement="bottom" title="Find"><span class="label">More Friend</span></a></li>

          </ul>
        </header>

        <!-- Banner -->
        <section id="banner">

            <!--<header>
              <h1>Hi, I’m Editorial<br />
                by HTML5 UP</h1>
              <p>A free and fully responsive site template</p>
            </header>
            <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
            <ul class="actions">
              <li><a href="#" class="button big">Learn More</a></li>
            </ul>-->
            <%= yield %>

        </section>
      </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
      <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2><%= current_user.name %></h2>
          </header>
          <ul>
            <li><a href="/messages/new">Compose Message</a></li>
            <li><a href="/messages/inbox">Inbox</a> </li>
            <li><a href="/messages/sent">Sent Messages</a></li>
            <li><a href="<%= friendships_friends_path %>">Friends</a> </li>
            <li><a href="<%= friendships_path %>">More Friends</a></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </nav>



        <!-- Section -->

        <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; 1004 Team - Lab02 EC2017 HCMUS<br>1412291 - Lu Tam Long<br>1412144 - Do Truong Hai</p>

        </footer>

      </div>
    </div>

  </div>

  </body>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


</html>
